# https://github.com/dandavison/delta/releases
[user]
	email = snitool@wp.pl
	name = Sebastian Niecikowski

[core]
	editor = nvim
    pager = delta

[delta]
  line-numbers = true
  side-by-side = true

  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only
