" tabs config
:set tabstop=4
:set shiftwidth=4
:set expandtab

" infos
:set number
:set ruler

" search options
:set hlsearch " highlight search result
:set incsearch " jump to search result while typing
:set ignorecase
:set smartcase " if search pattern contains uppercase letter then it's case sensitive
:set wrapscan " never ending story - jump to first search result after reaching last

" copying
set clipboard+=unnamed
set ideajoin

" relative line numbers
set rnu

nnoremap n nzzzv
nnoremap N Nzzzv

